.App {
    text-align: center;
    background-image: url(./assets/26bab10ac43236043d11f0052e040baa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

h1 {
    font-size: 1.2rem;
}

.card {
    border: 2px solid #00ff00;
}

.main-page {
    min-height: 100vh;
    padding: 20px 0;
}

.min {
    min-height: 93vh;
}